.tool-bar {
	/* background-color: black;
	padding: 3em 0.5em;
	gap: 3em;
	display: flex;
	flex-direction: column;
	min-width: fit-content;
	justify-content: center;
	max-height: 20em;
	border-radius: 10em;
	max-width: fit-content;
	box-shadow: 0.2em 0.2em 0.2em rgb(63, 63, 63);
	margin: auto; */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: black;
	padding: 0;
	margin: 0;
}

.tool-bar__section {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 0.5em;
}

.tool-bar__section > button {
	font-size: 1.75rem;
	width: 5rem;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: none;
	box-shadow: none;
	background-color: transparent;
	color: white;
	padding: 0;
	margin: 0;
}

.tool-bar__section > button:hover {
	color: #82cfff;
	cursor: pointer;
}

.tool-bar__section > button:active {
	color: #0f62fe;
	cursor: pointer;
}